In [4]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Prepare Your Data

In [2]:
data = pd.read_csv('shopping_trends.csv')
data.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Credit Card,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Bank Transfer,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,PayPal,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
data_dict = {
    'UserID': data['Customer ID'],
    'ItemPurchased': data['Item Purchased'],
    'Rating': data['Review Rating']
}

df = pd.DataFrame(data_dict)
df

      UserID ItemPurchased  Rating
0          1        Blouse     3.1
1          2       Sweater     3.1
2          3         Jeans     3.1
3          4       Sandals     3.5
4          5        Blouse     2.7
...      ...           ...     ...
3895    3896        Hoodie     4.2
3896    3897      Backpack     4.5
3897    3898          Belt     2.9
3898    3899         Shoes     3.8
3899    3900       Handbag     3.1

[3900 rows x 3 columns]

# Create the Recommendation System

In [9]:
# create a user item matrix
user_item_matrix = df.pivot_table(index = 'UserID', columns = 'ItemPurchased', values = 'Rating').fillna(0)

# calculate similarity between users cosine similarity
user_similatiry = cosine_similarity(user_item_matrix)

# Get similar users
def similar_users(user_id, metrix):

    user = metrix.iloc[user_id - 1].values.reshape(-1, 1)
    sim_scores = list(enumerate(cosine_similarity(user, metrix)[0]))
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    sim_scores = sim_scores[1:]
    user_indices = [i[0] for i in sim_scores]

    return user_indices

# Get similar users to UserID 1
similar_to_User = similar_users(user_item_matrix, user_similatiry)
print(f"User similar to User 1: {similar_to_User}")

AttributeError: 'numpy.ndarray' object has no attribute 'iloc'